:root {
    --background-color: #aac;
    --background-color2: #bbd;
    --background-color3: #cce;

    --color1: #eee;
    --color2: #999;

    --color-danger: #f34;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    background-color: var(--background-color);
    min-height: 100vh;
    min-width: 100vw;

    display: grid;
    justify-items: center;
    grid-template-rows: 20% 80%;
}
.icon {
    max-height: 30px;
    max-width: 30px;
}
input[type = "text"], input[type = "number"], select, input[type = "submit"], .actionButton {
    outline: none;
    padding: 1ch 2ch;
    border: none;

    background-color: #fff;
    border-radius: 4px;
}
input[type = "text"]:hover, input[type = "number"]:hover, select:hover, input[type = "submit"]:hover, .actionButton:hover {
    background-color: var(--color1);
}

body > header {
    height: 100%;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
header nav {
    height: 100%;
}
header nav ul {
    height: 100%;
    
    list-style: none;

    display: flex;
    flex-direction: row;
    gap: 2.5ch;
}
header nav ul .mainContentOption {
    height: 100%;
    cursor: pointer;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
header nav ul .mainContentOption:hover {
    background-color: var(--background-color3);
}
header nav .selectedOption {
    background-color: var(--background-color2);
}

main {
    background-color: var(--background-color2);
    width: 70vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main > article {
    width: 100%;
}

#shoppingList {
    display: flex;
    flex-direction: column;
    gap: 1ch;
}
#shoppingList section:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1.5ch;
}

#productsList {
    list-style: none;
}
#productsList li {
    width: 100%;

    display: grid;
    align-content: center;
    grid-template-columns: 20% 20% 20% 20% 20%;
}
#productsList li:nth-child(odd) {
    background-color: var(--color1);
}
#productsList li:nth-child(even) {
    background-color: var(--color2);
}
.productInfoField {
    max-width: 100%;
    padding: 0.5ch;

    border: 1px dashed black;
    line-break: anywhere;

    display: grid;
    align-content: center;
}
.productInfoField button {
    background-color: var(--color-danger);
    cursor: pointer;
    border: none;
    border-radius: 4px;
    padding: 0.5ch;

    width: fit-content;
    height: fit-content;

    justify-self: center;
    transition: 0.5s;
}
.productInfoField button:hover {
    opacity: 0.8;
    transform: scale(110%);
}

#addProductToList {
    height: 100%;
    width: 75%;

    display: flex;
    flex-direction: column;
    gap: 2ch;
}
